body {
    margin: 0;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    font-family: sans-serif, Arial !important;
    border: none;
    min-width: 100px;
    width: 10vw;
    aspect-ratio: 10 / 1;
    padding: 5px;
    color: white;
}

button.edit, button.save {
    background-color: black;
}

button.openBin, button.closeBin {
    background-color: green;
}

p {
    width: 100%;
    margin-top: 0;
    word-wrap: break-word;
}

.displayNone {
    display: none !important;
}

.displayFlex {
    display: flex;
    align-items: center;
}

.justContSpaceBet {
    justify-content: space-between;
}

.noteList {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 50px;
}

.note {
    width: 100vw;
    max-width: 600px;
    border: 1px solid black;
    box-sizing: border-box;
}

.note .noteTop {
    background-color: #7B0323;
    color: white;
    height: 6vh;
    padding-left: 10px;
    box-sizing: border-box;
}

.note .noteTop .close {
    height: 80%;
    aspect-ratio: 1 / 1;
    justify-content: center;
}

.note .noteTop .close svg {
    transform-origin: center;
    transform: rotate(-90deg);
}

.note .noteTop .close svg {
    width: auto;
    height: 100% !important;
}

.note .noteBottom {
    overflow: hidden;
    max-height: fit-content;
}

.note .noteBottom .deleteClose {
    width: fit-content;
    height: inherit !important;
}

.note .noteBottom .noteBottomInner {
    padding: 10px;
    box-sizing: border-box;
}

.note textarea {
    width: 100%;
    box-sizing: border-box;
}

.addNotesShowBin {
    align-items: center;
    column-gap: 10px;
    position: absolute;
    right: 5vw;
    bottom: 5vw;
    background-color: white;
}

.addNotesShowBin button {
    margin: 0;
}

.addNote {
    align-items: center;
    justify-content: center;
    width: 30px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.noteOverlay {
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.7);
    z-index: 2;
}

.noteOverlay .field {
    flex-direction: column;
    min-width: 300px;
    width: 30%;
    height: 60%;
    border-radius: 2vw;
    background-color: white;
    border: 2px solid rgba(0 0 0 / 0.7);
    overflow: hidden;
}

.noteOverlay .field textarea {
    width: 100%;
    height: calc(100% - 25px);
    outline: 0px;
    border: none;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: center;
}

.noteOverlay .field .add {
    border-radius: 5px;
    background-color: green;
    padding: 10px;
    border: none;
    color: white;
    margin: 10px;
}

.binList {
    flex-direction: column;
    row-gap: 40px;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 300px;
    width: 20vw;
    max-width: 500px;
    height: 80vh;
    background-color: beige;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transform: translateX(100%);
    z-index: 1;
    overflow-y: scroll;
    padding-right: 10px;
    box-sizing: border-box;
}

.binList::-webkit-scrollbar {
    width: 5px;
    padding-right: 5px;
    background: transparent;
}

.binList::-webkit-scrollbar-thumb {
    background-color: #333333;
}

.binList.opened {
    animation: fadeIn 0.25s linear;
    transform: translateX(0%);
}

.binList.closed {
    animation: fadeOut 0.25s linear;
    transform: translateX(100%);
}

.binList .binItem {
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
}

.binList .binItem .binItemDate {
    width: 100%;
    color: white;
    background-color: #7B0323;
}

.binList .binItem .binItemNoteText {
    width: 100%;
    white-space: wrap;
    max-height: 100px;
    overflow-y: scroll;
}

@keyframes fadeIn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeOut {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}
